
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /mywordpressportfolio/mywordpressportfolio/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mywordpressportfolio/mywordpressportfolio/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# The directives (lines) between "BEGIN Simply Static" and "END Simply Static" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "C:\xampp\htdocs\mywordpressportfolio\mywordpressportfolio/wp-content/uploads\simply-static\2b3de0441151e954500d8b6f63266900-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static